<div id="sharing" class="hboxLib">
	<div class="vboxLib containerSharing" ng-show="ctrl.showFilter">
		<div style="display: contents">
			<span class="titleFilter color-default flex-start">Filtros</span>
			<div>
					<i class="fa fa-chevron-left" ng-click="ctrl.showFilter = !ctrl.showFilter" uib-tooltip="Esconder filtro" tooltip-placement="right"
						aria-hidden="true"></i>
				</div>
			<button id="btnFind" ng-click="ctrl.findSharing()"  class="btn btn-primary flex-end">
					<span class="glyphicon  glyphicon-filter"><span class="fontsSharingPortal"> Buscar</span></span>
				</button>
		</div>
		<div class="vboxLib containerSharingLib">
			<label class="color-default">Usuário</label>
			<div class="input-group">
				<input type="text" class="form-control color-default fontsSharingPortal" placeholder="Usuário" ng-model="ctrl.codUsuDestiny"/>
				<div class="input-group-addon"  ng-click="ctrl.clickGetUser()">
					<span class="glyphicon glyphicon-search"></span>
				</div>
			</div>
		</div>
	
		<div class="vboxLib  containerSharingLib">
			<label class="color-default">Período Compartilhamento</label>
			<div class="hboxLib">
				<input type="date" class="form-control color-default fontsSharingPortal" placeholder="Inicio" ng-model="ctrl.dtCompIni" required/>
				<span class="center justify-center spanAShare"> a </span>
				<input type="date" class="form-control color-default fontsSharingPortal" placeholder="Fim" ng-model="ctrl.dtCompFim" required/>
			</div>
		</div>
 
		<div class="vboxLib  containerSharingLib">
			<label class="color-default">Período Devolução</label>
			<div class="hboxLib">
				<input type="date" class="form-control color-default fontsSharingPortal" placeholder="Inicio" ng-model="ctrl.dtDevolutionIni" required/>
				<span class="center justify-center  spanAShare"> a </span>
				<input type="date" class="form-control color-default fontsSharingPortal" placeholder="Fim" ng-model="ctrl.dtDevolutionFin" required/>
			</div>
		</div>

		<div class="vboxLib  containerSharingLib">
			<label class="color-default">Status</label>
			<select name="statusBookSelect" class="form-control color-default fontsSharingPortal" id="statusBookSelect" ng-model="ctrl.statusBook">
					<option ng-Repeat="data in ctrl.statusBookOptions" class="color-default fontsSharingPortal" value="{{data.key}}">{{data.value}}</option> <!-- interpolation -->
			</select>
		</div>

		<div class="vboxLib  containerSharingLib">
			<label class="color-default">Compartilhado</label>
			<select name="statusSharingWithMeSelect" class="form-control color-default fontsSharingPortal" id="statusSharingWithMeSelect" ng-model="ctrl.sharingWithMe">
					<option ng-Repeat="data in ctrl.sharingWithMeOptions" class="color-default fontsSharingPortal" value="{{data.key}}">{{data.value}}</option> <!-- interpolation -->
			</select>
		</div>
	</div>
	<div id="gridsLibSharing" class="vboxLib color-default" style="width: 100%">
		<span>Compartilhamentos</span>
		<ag-grid id="gridSharing"  class="color-default" grid-options="ctrl.gridOptions" class="flex">
		</ag-grid>
		<span>Itens</span>
		<ag-grid id="gridSharingItem" class="color-default" grid-options="ctrl.gridOptionsItens" class="flex">
		</ag-grid>
	</div>
</div>
