<nav id="categories">
    <ul class="container">
        <li class="item administracao" ng-click="ctrl.getPeoplesPerGenre(ctrl.genre.ADMINISTRACAO)">
            <a ><span class="text vertical">Administração</span></a>
        </li>
        <li class="item aventura" ng-click="ctrl.getPeoplesPerGenre(ctrl.genre.AVENTURA)">
            <a><span class="text vertical">Aventura</span></a>
        </li>
        <li class="item direito" ng-click="ctrl.getPeoplesPerGenre(ctrl.genre.DIREITO)">
            <a ><span class="text vertical">Direito</span></a>
        </li>
        <li class="item economia" ng-click="ctrl.getPeoplesPerGenre(ctrl.genre.ECONOMIA)">
            <a ><span class="text vertical">Econômia</span></a>
        </li>
        <li class="item ficcaocientifica">
            <a ng-click="ctrl.getPeoplesPerGenre(ctrl.genre.FICCAOCIENTIFICA)"><span class="text vertical">Ficção Cientifica</span></a>
        </li>
        <li class="item fantasia" ng-click="ctrl.getPeoplesPerGenre(ctrl.genre.FANTASIA)">
            <a><span class="text vertical">Fantasia</span></a>
        </li>
        <li class="item geografiaehistoria" ng-click="ctrl.getPeoplesPerGenre(ctrl.genre.GEOGRAFIA_E_HISTORIA)">
            <a><span class="text vertical">Geografia e História</span></a>
        </li>
        <li class="item policial" ng-click="ctrl.getPeoplesPerGenre(ctrl.genre.POLICIAL)">
            <a><span class="text vertical">Policial</span></a>
        </li>
        <li class="item religiao" ng-click="ctrl.getPeoplesPerGenre(ctrl.genre.RELIGIAO)">
            <a><span class="text vertical">Religião</span></a>
        </li>
        <li class="item romance" ng-click="ctrl.getPeoplesPerGenre(ctrl.genre.ROMANCE)">
            <a><span class="text vertical">Romance</span></a>
        </li>
        <li class="item terror" ng-click="ctrl.getPeoplesPerGenre(ctrl.genre.TERRO)">
            <a><span class="text vertical">Terror</span></a>
        </li>
        <li class="item vidaecrescimento" ng-click="ctrl.getPeoplesPerGenre(ctrl.genre.VIDA_E_CRESCIMENTO)">
            <a><span class="text vertical">Vida e Crescimento</span></a>
        </li>
        <li class="item diversos" ng-click="ctrl.getPeoplesPerGenre(ctrl.genre.DIVERSOS)">
            <a><span class="text vertical">Diversos</span></a>
        </li>
    </ul>
</nav>